body {
  width: 100%;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  background: #181818;
  color: #f3f6f9 !important;
}

header {
  width: 930px;
  margin: 80px auto 20px;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.app-container {
  margin: 0 auto;
  width: 930px;
  height: 986px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #232323;
}

p,
li {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: -0.6px;
}

h1 {
  width: 930px;
  margin: 0 auto 45px;
  text-align: center;
  font-size: 100px;
  line-height: 88px;
  letter-spacing: -0.6px;
}

.header-year {
  padding: 10px;
  border-radius: 200px;
  border: 1px solid #6532f8;
  background: #6532f8;
  text-transform: uppercase;
}

.input-data {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-top: 60px;
  /* padding-left: 70px; */
  justify-content: center;
}

.title-input-wrapper {
  padding-left: 13px;
  width: 411px;
  height: 45px;
  border-bottom: 1px solid rgba(243, 246, 249, 0.5);
}

.title-input {
  width: 100%;
  border: none;
  background: none;
  font-size: 30px;
  line-height: 35px;
  color: #f3f6f9;
}

.title-input:focus {
  outline: none;
}

.title-input::placeholder {
  font-size: 30px;
  line-height: 35px;
  color: rgba(243, 246, 249, 0.5);
  opacity: 0.5;
}

.add-2watch-btn {
  width: 62px;
  height: 62px;
  cursor: pointer;
  background-color: unset;
  background-image: url(icons/arrow-right-icon.png);
  border-radius: 100px;
  background-size: contain;
  border: none;
}

.watchlist {
  margin: 0 auto;
  width: 790px;
  max-height: 665px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow-y: auto;
}

.watchlist::-webkit-scrollbar {
  width: 10px;
}

.watchlist::-webkit-scrollbar-track {
  background-color: #3a3939;
  border-radius: 15px;
}

.watchlist::-webkit-scrollbar-thumb {
  background-color: #6532f8;
  border-radius: 15px;
}

.watchlist-item-wrapper {
  position: relative;
  align-items: center;
  display: flex;
  margin-bottom: 3px;
  width: 100%;
  min-height: 71px;
  border-radius: 10px;
  background: #3a3939;
  border: 1px solid white;
}

.watchlist-item-wrapper:hover {
  background-color: darkslategray;
}

.shaded {
  opacity: 0.5;
}

.watched {
  background: #6532f8;
}

.crossed-out {
  color: #f3f6f9;
  opacity: 0.5;
  text-decoration: line-through;
}

.watchlist-item-title {
  overflow: hidden;
  width: 85%;
  font-size: 20px;
  line-height: 77px;
  letter-spacing: -0.4px;
  text-align: left;
}

.checkbox-wrapper {
  width: 64px;
}

.status-checkbox {
  appearance: none;
  position: absolute;
  top: 26px;
  left: 20px;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  border: 1px solid #f3f6f9;
  opacity: 0.3;
  cursor: pointer;
}

.close-btn-wrapper {
  width: 47px;
}

.remove-from-list-btn {
  position: absolute;
  display: block;
  background-image: url(icons/close-block-icon.png);
  top: 24px;
  right: 20px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background-color: unset;
  background-size: cover;
  border: none;
}

.border-red {
  width: 95%;
  padding-left: 5px;
  border: 2px dotted #ad1818;
  border-radius: 8px;
}
